<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>border.color</key>
	<string>#000000</string>
	<key>border.corner.bl</key>
	<integer>0</integer>
	<key>border.corner.bl.image</key>
	<false/>
	<key>border.corner.br</key>
	<integer>0</integer>
	<key>border.corner.br.image</key>
	<false/>
	<key>border.corner.tl</key>
	<integer>0</integer>
	<key>border.corner.tl.image</key>
	<false/>
	<key>border.corner.tr</key>
	<integer>0</integer>
	<key>border.corner.tr.image</key>
	<false/>
	<key>border.edge.bottom</key>
	<integer>0</integer>
	<key>border.edge.bottom.image</key>
	<false/>
	<key>border.edge.left</key>
	<integer>0</integer>
	<key>border.edge.left.image</key>
	<false/>
	<key>border.edge.right</key>
	<integer>0</integer>
	<key>border.edge.right.image</key>
	<false/>
	<key>border.edge.top</key>
	<integer>0</integer>
	<key>border.edge.top.image</key>
	<false/>
	<key>border.enabled</key>
	<false/>
	<key>border.shadow</key>
	<false/>
	<key>border.size</key>
	<real>1</real>
	<key>corners.elements</key>
	<true/>
	<key>corners.elements.radius</key>
	<real>4</real>
	<key>corners.enabled</key>
	<false/>
	<key>corners.menus</key>
	<true/>
	<key>corners.menus.radius</key>
	<real>0.0</real>
	<key>corners.menus.selectcolor</key>
	<string></string>
	<key>corners.menus.shadow</key>
	<false/>
	<key>corners.radius</key>
	<real>0.0</real>
	<key>dock.border</key>
	<false/>
	<key>dock.border.color</key>
	<string>#FFFFFF</string>
	<key>dock.border.size</key>
	<real>1</real>
	<key>dock.color</key>
	<string>#C1C1E1</string>
	<key>dock.flat</key>
	<true/>
	<key>dock.radius</key>
	<real>3</real>
	<key>enabled</key>
	<true/>
	<key>glass.color</key>
	<string>#C1C1E1</string>
	<key>glass.exclude</key>
	<array/>
	<key>glass.flatten</key>
	<true/>
	<key>lights.colorClose</key>
	<string>#F38BA8</string>
	<key>lights.colorGlyph</key>
	<string>#0000008C</string>
	<key>lights.colorInactive</key>
	<string>auto</string>
	<key>lights.colorMin</key>
	<string>#F9E2AF</string>
	<key>lights.colorZoom</key>
	<string>#A6E3A1</string>
	<key>lights.enabled</key>
	<true/>
	<key>lights.radius</key>
	<real>0.0</real>
	<key>lights.size</key>
	<real>0.0</real>
	<key>lights.theme</key>
	<string>catppuccin</string>
	<key>sidebar.corners</key>
	<false/>
	<key>sidebar.corners.radius</key>
	<real>8</real>
	<key>sidebar.tint.color</key>
	<string>#CCCCEE</string>
	<key>sidebar.tint.enabled</key>
	<true/>
	<key>tint.accent</key>
	<string>auto</string>
	<key>tint.chrome</key>
	<string>#DDDDFF</string>
	<key>tint.color</key>
	<string>#DDDDFF</string>
	<key>tint.controls</key>
	<true/>
	<key>tint.enabled</key>
	<true/>
	<key>tint.exclude</key>
	<array>
		<string>com.mitchellh.ghostty</string>
		<string>com.google.Chrome</string>
	</array>
	<key>tint.icons</key>
	<false/>
	<key>tint.mode</key>
	<string>auto</string>
	<key>tint.text</key>
	<string>auto</string>
	<key>tint.theme</key>
	<string>custom</string>
	<key>tint.wallpaper</key>
	<false/>
	<key>titlebar.color</key>
	<string>#C1C1E1</string>
	<key>titlebar.color.enabled</key>
	<true/>
	<key>titlebar.hide</key>
	<array/>
	<key>titlebar.image.enabled</key>
	<false/>
	<key>toolbar.enabled</key>
	<false/>
	<key>toolbar.exclude</key>
	<array/>
	<key>toolbar.slim</key>
	<true/>
	<key>toolbar.slim.height</key>
	<real>40</real>
	<key>toolbar.slim.radius</key>
	<real>10</real>
</dict>
</plist>
